/*
'''
    Copyright 2018 Adi Hezral (hezral@gmail.com)
    This file is part of Clips ("Application").
    The Application is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    The Application is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this Application.  If not, see <http://www.gnu.org/licenses/>.
'''
*/
/* @define-color shaded_darker shade(@theme_base_color, 0.98); */

headerbar > box {
    padding-left: 2px;
}

/* grid#stash-container, fader {
    transition: all 500ms ease-in-out;
} */

@keyframes crossfader {
    0% { opacity: 0; } 
    03.33% { opacity: 0; }
    06.66% { opacity: 0; }
    09.99% { opacity: 0; }
    13.33% { opacity: 0.5; }
    16.65% { opacity: 0.75; }
    100% { opacity: 1; }	
}

/* grid#stash-container {
    animation: crossfader 0.75s ease-in-out forwards;
} */

button#settings {
    box-shadow: none;
    border-style: none;
    background: none;
}

button#settings:active {
    opacity: 0.75;
}

label#search-keyword {
    padding-top: 3px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0, 0.1);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

scrolledwindow > undershoot.top {
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(@theme_base_color 0, alpha(@theme_base_color, 0) 50%);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
}

scrolledwindow > undershoot.bottom {
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(alpha(@theme_base_color, 0) 50%, @theme_base_color 100%);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
}

.stash-item-select:hover {
    -gtk-icon-effect: highlight;
}

@keyframes pulsing {
    25% {border-color: alpha(@accent_color_500, 0.25);}
    50% {border-color: alpha(@accent_color_500, 0.5);}
    75% {border-color: alpha(@accent_color_500, 0.75);}
    100% {border-color: alpha(@accent_color_500, 1);}
}

.stash-zone {
    border-color: @accent_color_500;
    border-style: dotted;
    border-width: 3px;
    animation: pulsing 1.75s ease-in-out infinite;
}

label#message-display {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.75);
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

label#stash-zone {
    font-weight: bold;
    font-size: 125%;
    letter-spacing: 1px;
    color: @accent_color_500;
    background-color: alpha(@theme_base_color, 0.85);
}

